:host{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.start-button {
  bottom: 20px;
  padding: 12px 20px;
  color: white;
  width: 100%;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;

  background-color: #007bff;
  &:active {
    background-color: #0056b3;
  }
}

.stop-button{
  background-color: #dc3545; /* Красный цвет для стоп-кнопки */
  &:active {
    background-color: #c82333;
  }
}